* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
}

/* navbar */

#navbar {
  position: fixed;
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./imgs/home-background.png');
}

#avatar {
  width: 180px;
  height: 180px;
  border: 10px solid white;
  border-radius: 50%;
  margin-bottom: 50px;
  cursor: pointer;
}
#avatar:hover {
  border: 10px solid gold;
  transform: scale(1.2) rotate(360deg);
  transition: ease-in-out 1000ms;
}

.navbar__menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
}

.navbar__menu__item {
  padding: 10px 0;
  text-decoration: none;
  cursor: pointer;
  color: #343a3f;
}

.navbar__menu__item:hover {
  color: gold;
  transform: scale(1.2);
  transition: ease-out 300ms;
}

/* main */

#main {
  width: 100%;
  margin-left: 250px;
}

section {
  height: 100vh;
}

#about {
  padding: 200px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about__name {
  font-size: 100px;
  font-weight: bold;
  color: #343a3f;
}

#eng__name {
  color: #45b4fe;
}

.about__shorts {
  font-size: 20px;
}

.about__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 40px;
  color: #343a3f;
}

.about__links > a {
  margin: 10px;
}

.about__links > a:visited {
  color: #343a3f;
}

.about__links > a:hover {
  color: gold;
  transform: rotate(-45deg) scale(1.2);
  transition: ease-in-out 500ms;
}

#interests {
  padding: 100px 0 250px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#interests > h1 {
  color: #343a3f;
  font-size: 60px;
}

.interests__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.interests__menu__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.interests__menu__item__logo {
  color: #343a3f;
  font-size: 100px;
}

.interests__menu__item__description {
  font-size: 30px;
  font-weight: bold;
  color: #343a3f;
}
#mbti {
  padding: 100px 0 0 50px;
  display: flex;
  flex-direction: column;
}

#mbti > h1 {
  color: #343a3f;
  font-size: 60px;
}

.mbti__main {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.mbti__main__img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.mbti__main__description {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #343a3f;
  font-size: 20px;
  font-weight: bold;
}
